
<!-- <div class="col-sm-6 col-lg-4">
    <div class="work-item two three">
        <i class="flaticon-accounting"></i>
        <img style=" padding-bottom:8%; width: 50%;"src="{{getImagePath(imageName)}}">
        <!-- <img class="card-img-top" style=" padding-bottom:8%; width: 50%;" src="https://jo.mostaql.com/assets/images/landing/transfer-1.svg"  alt="Card image cap"> -->
        <!-- <h3 style="color: #000000;">Business and advisory services</h3> -->
        <!-- <h3 style="color: #000000;">{{Title}}</h3>
    </div>
</div> --> 
