.main-nav.three nav .navbar-nav .nav-item:hover a {
    color: #fe4a55;
  }
  .main-nav.three nav .navbar-nav .nav-item a {
    color: #fff;
  }
  .main-nav.three nav .navbar-nav .nav-item a:hover, .main-nav.three nav .navbar-nav .nav-item a:focus, .main-nav.three nav .navbar-nav .nav-item a.active {
    color: #fe4a55;
  }
  .main-nav.three nav .navbar-nav .nav-item .dropdown-menu li:hover a {
    color: #fe4a55;
  }
  .main-nav.three nav .navbar-nav .nav-item .dropdown-menu li a {
    color: #fff;
  }
  .main-nav.three nav .navbar-nav .nav-item .dropdown-menu li a:before {
    background-color: #fe4a55;
  }
  .main-nav.three nav .navbar-nav .nav-item .dropdown-menu li a:hover, .main-nav.three nav .navbar-nav .nav-item .dropdown-menu li a:focus, .main-nav.three nav .navbar-nav .nav-item .dropdown-menu li a.active {
    color: #fe4a55;
  }
  .main-nav.three nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
    color: #fff;
  }
  .main-nav.three nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover, .main-nav.three nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus, .main-nav.three nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
    color: #fe4a55;
  }
  .main-nav.three .tooltip-span {
    color: #221668;
    background-color: #fff;
  }
  .main-nav.three .tooltip-span:before {
    border-top: 7px solid #fff;
  }
  .main-nav.three .tooltip-span.two {
    color: #fff;
    background-color: #fe4a55;
  }
  .main-nav.three .tooltip-span.two:before {
    border-top: 7px solid #fe4a55;
  }
  .main-nav.three.menu-shrink {
    background: #161616;
    box-shadow: 0px 0px 20px 0px #6363636b;
  }